body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}
.ui-slider {
	position: relative;
	text-align: left;
}

/* Slider controller*/

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 6em;
	height: 2em;
	cursor: default;
	text-align:center;
	text-decoration:none;
	font-size: 2em;
	line-height: 2em;
}

.ui-widget-content .ui-state-default {
    background-image: none;
    background-color: green;
    border: 0.1em solid green;
    color: white;
    font-weight: normal;
    border-radius: 30px;
  }

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: 4.3em;
	border-radius: 30px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: 0em;
	margin-left: 0em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 100;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 1000;
}

/* TABS ON MENU */

.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

#tabs.ui-widget-content #tabs.ui-state-default {
    background-color: green;
    background-image: none;
    border: 0.1em solid green;
    border-radius: 30px 30px 0px 0px;
    color: white;
    font-weight: normal;
    height: 4em;
}


